In [8]:
x={2*i:i**2 for i in xrange(5)}

In [9]:
print x

{0: 0, 8: 16, 2: 1, 4: 4, 6: 9}

In [10]:
for k,v in x.iteritems():
    print "%s %s"%(k,v)

0 0
8 16
2 1
4 4
6 9

In [11]:
for i,k in enumerate(x):
    print "i:%s k:%s"%(i,k)

i:0 k:0
i:1 k:8
i:2 k:2
i:3 k:4
i:4 k:6

In [12]:
import pandas as pd

C:\Anaconda\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [15]:
data={'student':[1,3,8], 'cs101':[3,5,9],'cs102':[0,3,"-"]}

In [19]:
df=pd.DataFrame(data)

In [17]:
df

   cs101 cs102  student
0      3     0        1
1      5     3        3
2      9     -        8

In [20]:
df["student"]

0    1
1    3
2    8
Name: student, dtype: int64

In [21]:
df.student

0    1
1    3
2    8
Name: student, dtype: int64

In [22]:
df[['cs101','cs102']]

   cs101 cs102
0      3     0
1      5     3
2      9     -

In [27]:
df.loc[1:2]

   cs101 cs102  student
1      5     3        3
2      9     -        8

In [35]:
%%timeit -n100
df.loc[1:2, ["cs102","student"]]

100 loops, best of 3: 2.99 ms per loop

In [36]:
%%timeit -n100
df[ ["cs102","student"] ].loc[1:2]

100 loops, best of 3: 2.09 ms per loop